<?xml version="1.0" encoding="utf-8"?>
<Media Key="28faeaad-2149-4d94-8554-6c50b8b58c46" Alias="54610953628_d25ce761d6_k.jpg" Level="3">
  <Info>
    <Parent Key="3959d7a6-18ce-4614-b40e-207f18329776">the culture of kindness</Parent>
    <Path>/blog/theCultureOfKindness/d25ce761d6_kjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T08:19:09</CreateDate>
    <NodeName Default="54610953628_d25ce761d6_k.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eiqlzhra/54610953628_d25ce761d6_k.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>