<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaa11071-405f-4d32-a93f-8a4a3484d24f" Alias="animals" Level="2">
  <Info>
    <Parent Key="98babf87-1c25-4ffe-a10a-a0680d5d3b9e">zoo</Parent>
    <Path>/zoo/animals</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-25T07:38:25</CreateDate>
    <NodeName Default="animals" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>