<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f7bb3ac-174b-4d39-bd10-c2b60ab91807" Alias="annoyed.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/annoyedjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:18:38</CreateDate>
    <NodeName Default="annoyed.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/en2d1wjc/annoyed.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>