<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f0262ce-8c7b-4067-b353-db3465791803" Alias="azureenv.png" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/azureenvpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-03T18:42:12</CreateDate>
    <NodeName Default="azureenv.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iguejkis/azureenv.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>