<?xml version="1.0" encoding="utf-8"?>
<Media Key="8020d9f3-6329-468a-9aec-d211c1e5a373" Alias="bernd-dittrich-zMKKTsLN4gs-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="46ce91a1-061a-403c-9a60-9854c4964727">cms and advanced caching</Parent>
    <Path>/blog/cmsAndAdvancedCaching/berndDittrichZMKKTsLN4gsUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-03T13:37:06</CreateDate>
    <NodeName Default="bernd-dittrich-zMKKTsLN4gs-unsplash.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pqjhmnsa/bernd-dittrich-zmkktsln4gs-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>