<?xml version="1.0" encoding="utf-8"?>
<Media Key="3be5b3fe-b3fd-472e-94bd-9ef59a737683" Alias="brandable-box-yW9jdBmE1BY-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="46ce91a1-061a-403c-9a60-9854c4964727">cms and advanced caching</Parent>
    <Path>/blog/cmsAndAdvancedCaching/brandableBoxYW9jdBmE1BYUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-03T12:12:53</CreateDate>
    <NodeName Default="brandable-box-yW9jdBmE1BY-unsplash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/of2lhdmu/brandable-box-yw9jdbme1by-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>