<?xml version="1.0" encoding="utf-8"?>
<Media Key="7439e3de-1509-4287-83a9-47892af52c52" Alias="dima-solomin-LkoDqb5E3zg-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="a31dcc87-58c6-4436-8fcf-22b7486fe86b">securing and expanding the delivery api</Parent>
    <Path>/blog/securingAndExpandingTheDeliveryApi/dimaSolominLkoDqb5E3zgUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-13T06:11:00</CreateDate>
    <NodeName Default="dima-solomin-LkoDqb5E3zg-unsplash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/keuh5qta/dima-solomin-lkodqb5e3zg-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>