<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ee2851a-9509-4d97-9cf7-53f2191669f6" Alias="engine.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/enginejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:20:42</CreateDate>
    <NodeName Default="engine.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/svhlikda/engine.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>