<?xml version="1.0" encoding="utf-8"?>
<Media Key="31263037-6a56-46ce-ad86-917c3eafd613" Alias="Female 8" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage/Persona/Female8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:28</CreateDate>
    <NodeName Default="Female 8" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/xd3gbbz5/female-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>