<?xml version="1.0" encoding="utf-8"?>
<Media Key="68bf0a34-8e2a-43e9-9052-a0081157dd5a" Alias="friendly.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/friendlyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:42:06</CreateDate>
    <NodeName Default="friendly.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xpaptxsd/friendly.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>