<?xml version="1.0" encoding="utf-8"?>
<Media Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc" Alias="general" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/general</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-03T18:19:31</CreateDate>
    <NodeName Default="general" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>