<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c0139b8-8d43-4987-84cd-4686e1896850" Alias="hand handing heart" Level="3">
  <Info>
    <Parent Key="3959d7a6-18ce-4614-b40e-207f18329776">the culture of kindness</Parent>
    <Path>/blog/theCultureOfKindness/handHandingHeart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-30T11:58:41</CreateDate>
    <NodeName Default="hand handing heart" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.428,
    "top": 0.4490226409787653
  },
  "crops": [
    {
      "alias": "xl",
      "width": 1000,
      "height": 563,
      "coordinates": null
    },
    {
      "alias": "l",
      "width": 800,
      "height": 450,
      "coordinates": null
    },
    {
      "alias": "m",
      "width": 600,
      "height": 338,
      "coordinates": null
    },
    {
      "alias": "s",
      "width": 400,
      "height": 225,
      "coordinates": null
    },
    {
      "alias": "xls",
      "width": 1000,
      "height": 1000,
      "coordinates": null
    },
    {
      "alias": "ls",
      "width": 800,
      "height": 800,
      "coordinates": null
    },
    {
      "alias": "ms",
      "width": 600,
      "height": 600,
      "coordinates": null
    },
    {
      "alias": "ss",
      "width": 400,
      "height": 400,
      "coordinates": null
    },
    {
      "alias": "xsl",
      "width": 1000,
      "height": 250,
      "coordinates": null
    },
    {
      "alias": "lsl",
      "width": 800,
      "height": 200,
      "coordinates": null
    },
    {
      "alias": "msl",
      "width": 600,
      "height": 150,
      "coordinates": null
    },
    {
      "alias": "ssl",
      "width": 400,
      "height": 100,
      "coordinates": null
    }
  ],
  "src": "/media/g5zfpcrk/kelly-sikkema-xx2wtblr3r8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>