<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d84cf0b-38f4-4420-9611-75630658d906" Alias="headless and funny.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/headlessAndFunnyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T09:27:58</CreateDate>
    <NodeName Default="headless and funny.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qqcnf423/headless-and-funny.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>