<?xml version="1.0" encoding="utf-8"?>
<Media Key="a44092b2-b0a1-4e6a-aad1-b78cdab639ad" Alias="Journey - Money" Level="3">
  <Info>
    <Parent Key="235ac783-a4ba-4f50-83ac-d94f72763d1e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyMoney</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:24</CreateDate>
    <NodeName Default="Journey - Money" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/hvmamewi/journey-money.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>