<?xml version="1.0" encoding="utf-8"?>
<Media Key="59b3a9a6-49a2-48e9-98b8-c737c34df55e" Alias="Journey - Basket" Level="3">
  <Info>
    <Parent Key="235ac783-a4ba-4f50-83ac-d94f72763d1e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyBasket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:21</CreateDate>
    <NodeName Default="Journey - Basket" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/ffrpl14l/journey-basket.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>