<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6d57354-e8ea-41aa-a631-3a6be66c11f4" Alias="logo.png (2)" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/logopng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T13:15:32</CreateDate>
    <NodeName Default="logo.png (2)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1o2jg2ed/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>