<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2f7238a-465f-4822-82ef-c582d1d5c7cb" Alias="Male 8" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage/Persona/Male8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:31</CreateDate>
    <NodeName Default="Male 8" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/axulcvbw/male-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>