<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e303e64-0680-4a1f-b2e7-17e55f3a0845" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T09:27:17</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>