<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff0f1bff-cf89-422f-b28d-2feba4a35f27" Alias="new folder name (1)" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/newFolderName1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-03T12:12:21</CreateDate>
    <NodeName Default="new folder name (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>