<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7bb94df-1943-44d0-901c-d8c60600f97f" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-03T18:19:34</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>