<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e1a6410-e5df-4c0c-8cc5-9ab7d1088ed0" Alias="nuxt multi cache.png" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/nuxtMultiCachepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:26:06</CreateDate>
    <NodeName Default="nuxt multi cache.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t4xfzkfw/nuxt-multi-cache.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>