<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f027aa3-d9fc-4862-9422-434ecdb80f23" Alias="quokka" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/quokka</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:07:33</CreateDate>
    <NodeName Default="quokka" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fsyeiomv/quokka.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>