<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbd932f0-076e-469a-b44d-658922a978d9" Alias="ram.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/ramjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:22:45</CreateDate>
    <NodeName Default="ram.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/p52j4dih/ram.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>