<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f80cfb7-5cf4-4fe1-8fe0-a3dd08cc8183" Alias="rc-xyz-nft-gallery-q7h8LVeUgFU-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="a31dcc87-58c6-4436-8fcf-22b7486fe86b">securing and expanding the delivery api</Parent>
    <Path>/blog/securingAndExpandingTheDeliveryApi/rcXyzNftGalleryQ7h8LVeUgFUUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-13T06:49:17</CreateDate>
    <NodeName Default="rc-xyz-nft-gallery-q7h8LVeUgFU-unsplash.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hacnmkm3/rc-xyz-nft-gallery-q7h8lveugfu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>