<?xml version="1.0" encoding="utf-8"?>
<Media Key="98dcbacf-c445-493d-b84e-ff25ba540fec" Alias="security.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/securityjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:28:18</CreateDate>
    <NodeName Default="security.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ibyjulrm/security.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>