<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e264c12-0334-412f-852a-e30ca7a281cb" Alias="splash" Level="2">
  <Info>
    <Parent Key="98babf87-1c25-4ffe-a10a-a0680d5d3b9e">zoo</Parent>
    <Path>/zoo/splash</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-25T08:03:51</CreateDate>
    <NodeName Default="splash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>