<?xml version="1.0" encoding="utf-8"?>
<Media Key="3959d7a6-18ce-4614-b40e-207f18329776" Alias="the culture of kindness" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/theCultureOfKindness</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-30T11:47:06</CreateDate>
    <NodeName Default="the culture of kindness" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>