<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5f1ab93-49b8-4116-9ff0-3aadad6d0977" Alias="tigers.jpg" Level="3">
  <Info>
    <Parent Key="1e264c12-0334-412f-852a-e30ca7a281cb">splash</Parent>
    <Path>/zoo/splash/tigersjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T08:26:55</CreateDate>
    <NodeName Default="tigers.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/drqloy4r/tigers.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>