<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1d28b72-e929-4ba0-ae7a-838188984814" Alias="tim-hasselmann-D0QU14sF8DM-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="1e264c12-0334-412f-852a-e30ca7a281cb">splash</Parent>
    <Path>/zoo/splash/timHasselmannD0QU14sF8DMUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:04:54</CreateDate>
    <NodeName Default="tim-hasselmann-D0QU14sF8DM-unsplash.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5vajiv0a/tim-hasselmann-d0qu14sf8dm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>