<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b17fafd-4e27-4d11-833c-ecbdd8949c5c" Alias="wombat" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/wombat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:09:28</CreateDate>
    <NodeName Default="wombat" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oiyfclko/wombat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>