<?xml version="1.0" encoding="utf-8"?>
<Media Key="163cc4d2-d992-4bd1-8ef9-eeea8101a638" Alias="yakokse" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/yakokse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:09:56</CreateDate>
    <NodeName Default="yakokse" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/luhhvih1/yakokse.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>