<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6d8b244-696e-4186-b177-7d98746933e7" Alias="azure.jpg" Level="3">
  <Info>
    <Parent Key="e7bb94df-1943-44d0-901c-d8c60600f97f">new folder name</Parent>
    <Path>/general/newFolderName/azurejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-03T18:19:40</CreateDate>
    <NodeName Default="azure.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zn2j2aah/azure.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>