<?xml version="1.0" encoding="utf-8"?>
<Media Key="de6c4ab3-ce48-44df-89ca-520274e15a97" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="425ed257-16a3-4e65-8cde-c824bab630f1">Engage</Parent>
    <Path>/Engage/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-29T04:34:44</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>