<?xml version="1.0" encoding="utf-8"?>
<Media Key="235ac783-a4ba-4f50-83ac-d94f72763d1e" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="7e680328-426f-4c5f-b907-0d61f6dc62fe">Engage (1)</Parent>
    <Path>/Engage1/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-09T18:08:20</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>