<?xml version="1.0" encoding="utf-8"?>
<Media Key="53f4a482-f13c-44d9-bd90-8a384e706d8b" Alias="Earth at night (Unsplash, NASA)" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/EarthAtNightUnsplashNASA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-03T13:10:09</CreateDate>
    <NodeName Default="Earth at night (Unsplash, NASA)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bvxlfzkv/earth-at-night-unsplash-nasa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>