<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3d45b04-4e61-4816-a2ed-9214823c9bae" Alias="elefant" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/elefant</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:03:34</CreateDate>
    <NodeName Default="elefant" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/roijefii/elefant.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>