<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6dbdb5-801c-4371-89a2-03e092e5562c" Alias="engage.png" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/engagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:49:18</CreateDate>
    <NodeName Default="engage.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hj1dw5lv/engage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>