<?xml version="1.0" encoding="utf-8"?>
<Media Key="724c46ac-025d-41cc-98c9-9d39937862be" Alias="Female 6" Level="3">
  <Info>
    <Parent Key="75b5c0c0-bfaa-495a-ad55-0ba9a1d435cd">Persona</Parent>
    <Path>/Engage/Persona/Female6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Female 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/eogavrbu/female-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>