<?xml version="1.0" encoding="utf-8"?>
<Media Key="32a16adc-d4e7-4ffb-822a-016a59889ac7" Alias="Female 2" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Female2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:26</CreateDate>
    <NodeName Default="Female 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/koqopbeo/female-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>