<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f12fdf-5323-420d-9004-f2268ee8d0d9" Alias="Female 1" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Female1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:26</CreateDate>
    <NodeName Default="Female 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/kdslpvsk/female-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>