<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a5353fc-442b-4961-93b9-47f8cab769bf" Alias="Female 4" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Female4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:27</CreateDate>
    <NodeName Default="Female 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/oombklcc/female-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>