<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ee9b89f-de0c-40f2-ae7a-3de8d77eca85" Alias="Female 1" Level="3">
  <Info>
    <Parent Key="75b5c0c0-bfaa-495a-ad55-0ba9a1d435cd">Persona</Parent>
    <Path>/Engage/Persona/Female1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Female 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/cbzk5gdf/female-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>