<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c23c7e3-9362-4d5f-acb9-e8cd8f5f21f7" Alias="Female 6" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Female6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:28</CreateDate>
    <NodeName Default="Female 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/nqghlkql/female-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>