<?xml version="1.0" encoding="utf-8"?>
<Media Key="1535ef02-5aa9-4da3-bb57-79b0e2700639" Alias="flagermus" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/flagermus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:04:03</CreateDate>
    <NodeName Default="flagermus" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rushhi4a/flagermus.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>