<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ff36475-2b92-4c56-bf92-547c1a8feb79" Alias="grævling" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/graevling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:04:23</CreateDate>
    <NodeName Default="grævling" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5kxlkop1/graevling.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>