<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca935256-e34c-4a0d-b27c-176a9a8a5716" Alias="headless" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/headless</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T09:27:14</CreateDate>
    <NodeName Default="headless" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>