<?xml version="1.0" encoding="utf-8"?>
<Media Key="666539bc-b90a-4df4-9f0f-395d5399dfc3" Alias="hugo-herrera-5h1_OwBxLNI-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="1e264c12-0334-412f-852a-e30ca7a281cb">splash</Parent>
    <Path>/zoo/splash/hugoHerrera5h1_OwBxLNIUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T11:39:07</CreateDate>
    <NodeName Default="hugo-herrera-5h1_OwBxLNI-unsplash.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gpzdhudd/hugo-herrera-5h1_owbxlni-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>