<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ffcd703-47c2-4b94-ae95-ea1551b77e9d" Alias="isbjørn" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/isbjoern</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:04:57</CreateDate>
    <NodeName Default="isbjørn" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rqolvknl/isbjoern.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>