<?xml version="1.0" encoding="utf-8"?>
<Media Key="d338ccff-211c-4781-8df6-01e39de83ba1" Alias="jordegern" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/jordegern</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:05:26</CreateDate>
    <NodeName Default="jordegern" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oadh2zlv/jordegern.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>