<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe69a950-9777-451a-b2ab-e07a376f3c14" Alias="Journey - Money" Level="3">
  <Info>
    <Parent Key="de6c4ab3-ce48-44df-89ca-520274e15a97">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyMoney</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Journey - Money" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/13rd4sa4/journey-money.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>