<?xml version="1.0" encoding="utf-8"?>
<Media Key="a891ea67-5e99-4b0b-9604-c8e571ee5bb5" Alias="Journey - Cart" Level="3">
  <Info>
    <Parent Key="de6c4ab3-ce48-44df-89ca-520274e15a97">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyCart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:44</CreateDate>
    <NodeName Default="Journey - Cart" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/3aqnohxq/journey-cart.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>