<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b855ffd-3f7e-4feb-a9e3-f1eb0507c58c" Alias="Journey - Alternative Route" Level="3">
  <Info>
    <Parent Key="de6c4ab3-ce48-44df-89ca-520274e15a97">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyAlternativeRoute</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:44</CreateDate>
    <NodeName Default="Journey - Alternative Route" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/okknhlix/journey-alternative-route.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>