<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c0a1a9-9a01-4f2f-ac56-21af949ad5e2" Alias="Journey - Idea" Level="3">
  <Info>
    <Parent Key="de6c4ab3-ce48-44df-89ca-520274e15a97">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyIdea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Journey - Idea" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/ezvjmjli/journey-idea.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>