<?xml version="1.0" encoding="utf-8"?>
<Media Key="510f4151-8722-4404-bc8f-0e854860f9e3" Alias="Journey - Alternative Route" Level="3">
  <Info>
    <Parent Key="235ac783-a4ba-4f50-83ac-d94f72763d1e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyAlternativeRoute</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:21</CreateDate>
    <NodeName Default="Journey - Alternative Route" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/10fftz0l/journey-alternative-route.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>