<?xml version="1.0" encoding="utf-8"?>
<Media Key="fae99bf4-ed95-450b-a396-202348924fe3" Alias="justus-menke-caQwgmo2lro-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="a31dcc87-58c6-4436-8fcf-22b7486fe86b">securing and expanding the delivery api</Parent>
    <Path>/blog/securingAndExpandingTheDeliveryApi/justusMenkeCaQwgmo2lroUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-13T06:29:20</CreateDate>
    <NodeName Default="justus-menke-caQwgmo2lro-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pnil4th2/justus-menke-caqwgmo2lro-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>