<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f32183b-dc0e-4158-9093-069d59d6a400" Alias="kænguru" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/kaenguru</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:05:36</CreateDate>
    <NodeName Default="kænguru" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wtjhj4lh/kaenguru.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>