<?xml version="1.0" encoding="utf-8"?>
<Media Key="11102be0-cf29-4313-888e-b5df4c94af90" Alias="Kaspar Boel Kjeldsen" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/KasparBoelKjeldsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-03T13:10:55</CreateDate>
    <NodeName Default="Kaspar Boel Kjeldsen" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n5qfnj0a/1573042410594.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>