<?xml version="1.0" encoding="utf-8"?>
<Media Key="24eb25a6-a1fc-4900-ada7-52a62eba1e72" Alias="lawless-capture-cE89Oi2lnXg-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="46ce91a1-061a-403c-9a60-9854c4964727">cms and advanced caching</Parent>
    <Path>/blog/cmsAndAdvancedCaching/lawlessCaptureCE89Oi2lnXgUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-03T13:20:43</CreateDate>
    <NodeName Default="lawless-capture-cE89Oi2lnXg-unsplash.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fhxl1euv/lawless-capture-ce89oi2lnxg-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>