<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf754148-5cfa-425c-91c9-53303b48d10f" Alias="lemur" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/lemur</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:06:04</CreateDate>
    <NodeName Default="lemur" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y4fdgcmt/lemur.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>