<?xml version="1.0" encoding="utf-8"?>
<Media Key="b84760b5-7e99-4fef-a263-ac8d878f56bc" Alias="Male 6" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Male6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:30</CreateDate>
    <NodeName Default="Male 6" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/hkvacdxq/male-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>