<?xml version="1.0" encoding="utf-8"?>
<Media Key="2545065b-efbd-437a-862c-edd35c4ee0c3" Alias="Male 1" Level="3">
  <Info>
    <Parent Key="75b5c0c0-bfaa-495a-ad55-0ba9a1d435cd">Persona</Parent>
    <Path>/Engage/Persona/Male1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Male 1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/0tgahe4u/male-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>