<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa1b0b36-084c-4a0c-b6dd-c36e179984a8" Alias="Male 5" Level="3">
  <Info>
    <Parent Key="d04646bb-23c3-4f4e-abf9-ad7da33098a4">Persona</Parent>
    <Path>/Engage1/Persona/Male5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T18:08:30</CreateDate>
    <NodeName Default="Male 5" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/xhaf0hbf/male-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>