<?xml version="1.0" encoding="utf-8"?>
<Media Key="30552b56-6be5-477c-a03b-c520073ef130" Alias="Male 6" Level="3">
  <Info>
    <Parent Key="75b5c0c0-bfaa-495a-ad55-0ba9a1d435cd">Persona</Parent>
    <Path>/Engage/Persona/Male6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T04:34:45</CreateDate>
    <NodeName Default="Male 6" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/1hqbhbum/male-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>