<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6210d6b-1c36-4639-8110-4bab7e5efe2f" Alias="Milky Way over a ridge (Unsplash)" Level="2">
  <Info>
    <Parent Key="b514b76d-11b1-4339-806b-3bf1d63ab0bc">general</Parent>
    <Path>/general/MilkyWayOverARidgeUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-03T13:09:25</CreateDate>
    <NodeName Default="Milky Way over a ridge (Unsplash)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2tdho2c5/milky-way-over-a-ridge-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>