<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce6eb332-656b-491a-bd97-7e0d7321e8b1" Alias="notacult.jpg" Level="3">
  <Info>
    <Parent Key="3959d7a6-18ce-4614-b40e-207f18329776">the culture of kindness</Parent>
    <Path>/blog/theCultureOfKindness/notacultjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T08:19:09</CreateDate>
    <NodeName Default="notacult.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xv2dq4ac/notacult.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>