<?xml version="1.0" encoding="utf-8"?>
<Media Key="f51f71f3-44ee-4fee-9d00-cee8be599821" Alias="okapi" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/okapi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:07:04</CreateDate>
    <NodeName Default="okapi" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ps3fsq2h/okapi.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>