<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfa2f7ff-2c64-4496-a84d-a910da0d3ad1" Alias="panda" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/panda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:07:25</CreateDate>
    <NodeName Default="panda" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oa4picin/panda.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>