<?xml version="1.0" encoding="utf-8"?>
<Media Key="10fa357b-ee95-4639-85bf-ef88e12d9ad2" Alias="puzzle.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/puzzlejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:33:55</CreateDate>
    <NodeName Default="puzzle.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4t5lzjx2/puzzle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>