<?xml version="1.0" encoding="utf-8"?>
<Media Key="8be15f4a-4c39-405e-a7ae-20cef451686e" Alias="quetzal" Level="3">
  <Info>
    <Parent Key="eaa11071-405f-4d32-a93f-8a4a3484d24f">animals</Parent>
    <Path>/zoo/animals/quetzal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:07:43</CreateDate>
    <NodeName Default="quetzal" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ywklopkq/quetzal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>