<?xml version="1.0" encoding="utf-8"?>
<Media Key="a31dcc87-58c6-4436-8fcf-22b7486fe86b" Alias="securing and expanding the delivery api" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/securingAndExpandingTheDeliveryApi</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-04-13T06:10:49</CreateDate>
    <NodeName Default="securing and expanding the delivery api" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>