<?xml version="1.0" encoding="utf-8"?>
<Media Key="86ceaba5-fe80-427b-beb9-1bc013ebaa57" Alias="sky.jpg" Level="3">
  <Info>
    <Parent Key="ca935256-e34c-4a0d-b27c-176a9a8a5716">headless</Parent>
    <Path>/blog/headless/skyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-29T10:51:11</CreateDate>
    <NodeName Default="sky.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fjqjqmhj/sky.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>