<?xml version="1.0" encoding="utf-8"?>
<Media Key="555bc23d-fa9c-42ea-8533-7de9a2e0729a" Alias="wilkins-morales-eLcPJeK_Unk-unsplash.jpg" Level="3">
  <Info>
    <Parent Key="1e264c12-0334-412f-852a-e30ca7a281cb">splash</Parent>
    <Path>/zoo/splash/wilkinsMoralesELcPJeK_UnkUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-25T08:04:55</CreateDate>
    <NodeName Default="wilkins-morales-eLcPJeK_Unk-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wieb1y5v/wilkins-morales-elcpjek_unk-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>