<?xml version="1.0" encoding="utf-8"?>
<Media Key="98babf87-1c25-4ffe-a10a-a0680d5d3b9e" Alias="zoo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/zoo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-25T07:38:15</CreateDate>
    <NodeName Default="zoo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>