<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58bbd526-b23d-4586-a47a-4d4a75128c2e" Alias="blogPostContainerPage" Level="3">
  <Info>
    <Name>Blog Post Container Page</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages/containers</Folder>
    <Compositions>
      <Composition Key="220e0edd-dcfb-43d4-a5c3-e8d24299c465">headlessComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="250a89df-e1db-4816-af5f-0c0a05a3f738" SortOrder="0">blogPostPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c7d3e5f1-2a4b-4c6d-8e0f-1a2b3c4d5e01</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The backdrop behind the listing's title: a photo, or a Generated Graphics item. Left empty, a nebula from Unsplash.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c7d3e5f1-2a4b-4c6d-8e0f-1a2b3c4d5e00</Key>
      <Caption>Site</Caption>
      <Alias>site</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>