/* Atkinson Hyperlegible */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('./../../fonts/Atkinson_Hyperlegible-normal-400-latin.woff2') format('woff2'), url('./../../fonts/Atkinson_Hyperlegible-normal-400-latin-ext.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('./../../fonts/Atkinson_Hyperlegible-normal-700-latin.woff2') format('woff2'), url('./../../fonts/Atkinson_Hyperlegible-normal-700-latin-ext.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* JetBrains Mono - Weight 400 */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./../../fonts/JetBrains_Mono-normal-400-latin.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-400-latin-ext.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-400-cyrillic.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-400-cyrillic-ext.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-400-greek.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-400-vietnamese.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* JetBrains Mono - Weight 700 */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./../../fonts/JetBrains_Mono-normal-700-latin.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-700-latin-ext.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-700-cyrillic.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-700-cyrillic-ext.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-700-greek.woff2') format('woff2'), url('./../../fonts/JetBrains_Mono-normal-700-vietnamese.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
