<?xml version="1.0" encoding="utf-8"?>
<Content Key="35a65b13-4b94-4830-a6ca-53bc9f321544" Alias="kjeldsen.dev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kjeldsendev</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-25T19:12:39</CreateDate>
    <NodeName Default="kjeldsen.dev">
      <Name Culture="en-US">kjeldsen.dev</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <background>
      <Value><![CDATA[[
  {
    "key": "b2106b4a-246e-412f-a454-40c9e2216d86",
    "mediaKey": "53f4a482-f13c-44d9-bd90-8a384e706d8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </background>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9ede4277-930d-4106-b18c-b3380269d981",
      "key": "9f95ff9a-f11a-4ff3-823e-3a36a81c05c0",
      "values": [
        {
          "alias": "headerLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "H1"
          ]
        },
        {
          "alias": "headerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hej, I\u0027m **Kaspar**."
        }
      ]
    },
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "cef247e9-340f-4aa4-ad86-29dfcb0e4239",
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EKaspar Boel Kjeldsen. Danish. Head of Umbraco at Kraftvaerk A/S, Umbraco MVP, Certified Umbraco Master, member of the Umbraco CMS Advisory Board.\u003C/p\u003E\u003Cp\u003EI build things on Umbraco for a living and, apparently, for fun. This site is the fun part.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9ede4277-930d-4106-b18c-b3380269d981",
      "key": "cd6e37e0-2b30-49a6-8a15-86f76249103a",
      "values": [
        {
          "alias": "headerLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "H2"
          ]
        },
        {
          "alias": "headerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The short version"
        }
      ]
    },
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "da530f16-3805-44ab-8621-e1f9a039ab84",
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EUmbraco has been my thing for a long time, headless Umbraco for the last few years. I write here about doing headless --with purpose--, about Azure tricks I am a little too pleased with, and now and then about the \u003Ca href=\u0022/blog/the-culture-of-kindness/\u0022 title=\u0022community\u0022\u003Ecommunity\u003C/a\u003E.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1495d116-fbc6-4c94-905d-65c841fe85d0",
      "key": "a7d28864-4bb3-4ace-bf64-92d40e95fd42",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ab2fc47a-5bf1-4f3d-844f-4d970a7a2963",
              "mediaKey": "11102be0-cf29-4313-888e-b5df4c94af90",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kaspar Boel Kjeldsen"
        },
        {
          "alias": "cropPreference",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Square"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1495d116-fbc6-4c94-905d-65c841fe85d0",
      "key": "c8592d23-c7c2-4fd5-bc14-43a3ab11e710",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fdbc950c-35fa-4e9d-b5b7-08539562e8cb",
              "mediaKey": "c6210d6b-1c36-4639-8110-4bab7e5efe2f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Milky Way over a ridge line"
        },
        {
          "alias": "cropPreference",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Slim"
          ]
        },
        {
          "alias": "bottomText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Photo from Unsplash. Not my back garden, sadly."
        }
      ]
    },
    {
      "contentTypeKey": "9ede4277-930d-4106-b18c-b3380269d981",
      "key": "411c201f-49ed-4c70-8020-97e60576b42a",
      "values": [
        {
          "alias": "headerLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "H2"
          ]
        },
        {
          "alias": "headerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What this site is"
        }
      ]
    },
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "2c70308d-dcdf-4f8f-9e0a-1ad75e766a57",
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003Ekjeldsen.dev is a blog, and also an excuse. Everything that runs it is \u003Ca href=\u0022https://github.com/kasparboelkjeldsen/kjeldsen.dev\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022 title=\u0022open source on GitHub\u0022\u003Eopen source on GitHub\u003C/a\u003E: the Umbraco backoffice, the Nuxt frontend, the Azure pipelines and the infrastructure. It is where I try things properly before I suggest them to anyone else.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "0dffdab3-1140-47de-8352-0773bfa417b0",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco 18, headless"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EContent comes through the Delivery API. The frontend\u0027s types are generated from Umbraco\u0027s own OpenAPI document.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "25812744-7879-40c3-9d97-69639f746907",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nuxt 4 in front"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EServer-rendered, with every CMS call proxied so the delivery key never leaves the server.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "80325e90-9114-49ef-9ca7-c33d9d391092",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Azure, on the cheap"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EBasic-tier App Services, infrastructure as code, pipelines in the repository.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "6ffc9ee5-0ff5-4f48-af35-856eec188ff7",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kraftvaerk packages"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003E\u003Ca href=\u0022/umbraco-packages/\u0022 title=\u0022Block Preview\u0022\u003EBlock Preview\u003C/a\u003E renders blocks in the backoffice through this frontend. **Cache Keys** puts invalidation keys on delivery responses.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "5a5993a8-5236-411a-ba55-88d64d51c2f5",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco Engage"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EPersonalisation and analytics, on a licence Umbraco kindly provided.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "key": "0022ddb6-3a52-409e-9788-3e83f27b9945",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Written by an agent"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EThis page was drafted and published through Umbraco\u0027s **MCP server** by an AI agent while I was out picking up my kids. The posts are all me.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9ede4277-930d-4106-b18c-b3380269d981",
      "key": "b263b10e-c5cd-4032-a9a3-28b28579ea70",
      "values": [
        {
          "alias": "headerLevel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "H2"
          ]
        },
        {
          "alias": "headerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read on"
        }
      ]
    },
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "413cfc37-ae56-43cf-8b28-551561846bec",
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EIf you only read one thing, make it \u003Ca href=\u0022/blog/headless-not-hovedloest/\u0022 title=\u0022Headless, not hovedl\u00F8st\u0022\u003EHeadless, not hovedl\u00F8st\u003C/a\u003E. The newest posts are right below.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9f95ff9a-f11a-4ff3-823e-3a36a81c05c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cef247e9-340f-4aa4-ad86-29dfcb0e4239",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd6e37e0-2b30-49a6-8a15-86f76249103a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da530f16-3805-44ab-8621-e1f9a039ab84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a7d28864-4bb3-4ace-bf64-92d40e95fd42",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8592d23-c7c2-4fd5-bc14-43a3ab11e710",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "411c201f-49ed-4c70-8020-97e60576b42a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2c70308d-dcdf-4f8f-9e0a-1ad75e766a57",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0dffdab3-1140-47de-8352-0773bfa417b0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "25812744-7879-40c3-9d97-69639f746907",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "80325e90-9114-49ef-9ca7-c33d9d391092",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6ffc9ee5-0ff5-4f48-af35-856eec188ff7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a5993a8-5236-411a-ba55-88d64d51c2f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0022ddb6-3a52-409e-9788-3e83f27b9945",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b263b10e-c5cd-4032-a9a3-28b28579ea70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "413cfc37-ae56-43cf-8b28-551561846bec",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "9f95ff9a-f11a-4ff3-823e-3a36a81c05c0",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cef247e9-340f-4aa4-ad86-29dfcb0e4239",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cd6e37e0-2b30-49a6-8a15-86f76249103a",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "da530f16-3805-44ab-8621-e1f9a039ab84",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "a7d28864-4bb3-4ace-bf64-92d40e95fd42",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c8592d23-c7c2-4fd5-bc14-43a3ab11e710",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "411c201f-49ed-4c70-8020-97e60576b42a",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "2c70308d-dcdf-4f8f-9e0a-1ad75e766a57",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "0dffdab3-1140-47de-8352-0773bfa417b0",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "25812744-7879-40c3-9d97-69639f746907",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "80325e90-9114-49ef-9ca7-c33d9d391092",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "6ffc9ee5-0ff5-4f48-af35-856eec188ff7",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "5a5993a8-5236-411a-ba55-88d64d51c2f5",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "0022ddb6-3a52-409e-9788-3e83f27b9945",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b263b10e-c5cd-4032-a9a3-28b28579ea70",
        "rowSpan": 1,
        "settingsKey": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "413cfc37-ae56-43cf-8b28-551561846bec",
        "rowSpan": 1,
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </grid>
    <links>
      <Value><![CDATA[[
  {
    "name": "Kjeldsen.dev",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/35a65b134b944830a6ca53bc9f321544",
    "url": null,
    "queryString": null,
    "culture": null
  },
  {
    "name": "Blog",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/0b1658c6b85949e9b4f1a213a1a69c48",
    "url": null,
    "queryString": null,
    "culture": null
  },
  {
    "name": "Umbraco Packages",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/3d9bfe4e698441a1a638f7ee36f10ebb",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </links>
    <noSlug>
      <Value><![CDATA[0]]></Value>
    </noSlug>
  </Properties>
</Content>