<?xml version="1.0" encoding="utf-8"?>
<Content Key="24fb01dd-ae44-401a-9dcb-6e527670110c" Alias="Test" Level="3">
  <Info>
    <Parent Key="3d9bfe4e-6984-41a1-a638-f7ee36f10ebb">umbraco packages</Parent>
    <Path>/kjeldsendev/umbracoPackages/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-08T06:01:12</CreateDate>
    <NodeName Default="Test">
      <Name Culture="en-US">Test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "569c6ba9-0dd0-4974-8e82-b2103a5b0aed",
      "key": "33dfc79c-e37f-46d9-9663-b35d34193b4a",
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "33dfc79c-e37f-46d9-9663-b35d34193b4a",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "33dfc79c-e37f-46d9-9663-b35d34193b4a",
        "rowSpan": 1,
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </grid>
    <noSlug>
      <Value><![CDATA[0]]></Value>
    </noSlug>
  </Properties>
</Content>