<?xml version="1.0" encoding="utf-8"?>
<Element Key="192f71c5-0142-44fb-b0e1-ca10da5c222f" Alias="Kaspar Boel Kjeldsen" Level="2">
  <Info>
    <Parent Key="4ae62d6e-7747-4bf1-ba81-9be806def3ed">Writers</Parent>
    <Path>/Writers/KasparBoelKjeldsen</Path>
    <Trashed>false</Trashed>
    <ContentType>writerElement</ContentType>
    <CreateDate>2026-09-03T08:05:52</CreateDate>
    <NodeName Default="Kaspar Boel Kjeldsen" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <luckyNumber>
      <Value><![CDATA[12]]></Value>
    </luckyNumber>
    <writerName>
      <Value><![CDATA[Kaspar Boel Kjeldsen]]></Value>
    </writerName>
  </Properties>
</Element>