<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4a7f1c3-2b5e-4c8d-9e0f-3a6b7c8d9e01" Alias="Data Visio - Chart Type" Level="3">
  <Info>
    <Name>Data Visio - Chart Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>custom/list</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Auto",
    "Bar",
    "Horizontal bar",
    "Stacked bar",
    "Line",
    "Area",
    "Scatter",
    "Bubble",
    "Pie",
    "Donut",
    "Radar",
    "Heatmap",
    "Treemap",
    "Sunburst",
    "Sankey",
    "Funnel",
    "Gauge",
    "Boxplot",
    "Candlestick",
    "Graph"
  ]
}]]></Config>
</DataType>