<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4658fd50-33d0-4507-9c09-b57651681d48" Alias="Image or Graphic Picker" Level="1">
  <Info>
    <Name>Image or Graphic Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,7a1f3c52-9b64-4e0a-8c2d-5f6e1d2a9b01",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>