<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e42b7c8-ba52-4509-b07b-7f5daa8a8cef" Alias="Textarea (code)" Level="1">
  <Info>
    <Name>Textarea (code)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 14
}]]></Config>
</DataType>