<?xml version="1.0" encoding="utf-8"?>
<Content Key="35a65b13-4b94-4830-a6ca-53bc9f321544" Alias="kjeldsen.dev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kjeldsendev</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-25T20:12:39</CreateDate>
    <NodeName Default="kjeldsen.dev" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "05bdc085-a99b-418c-bafd-df8862e64c27",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EHey!\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "05bdc085-a99b-418c-bafd-df8862e64c27",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "05bdc085-a99b-418c-bafd-df8862e64c27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <links>
      <Value><![CDATA[[
  {
    "name": "Kjeldsen.dev",
    "target": null,
    "udi": "umb://document/35a65b134b944830a6ca53bc9f321544",
    "url": null,
    "queryString": null
  },
  {
    "name": "Blog",
    "target": null,
    "udi": "umb://document/0b1658c6b85949e9b4f1a213a1a69c48",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </links>
    <seoDescription>
      <Value><![CDATA[Nuxt blog]]></Value>
    </seoDescription>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[Kjeldsen.dev]]></Value>
    </seoTitle>
  </Properties>
</Content>