<?xml version="1.0" encoding="utf-8"?>
<Content Key="4216f182-72ea-408e-bf54-e38200893eb7" Alias="Test" Level="2">
  <Info>
    <Parent Key="35a65b13-4b94-4830-a6ca-53bc9f321544">kjeldsen.dev</Parent>
    <Path>/kjeldsendev/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-04-23T08:19:26</CreateDate>
    <NodeName Default="Test">
      <Name Culture="en-US">Test</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1495d116-fbc6-4c94-905d-65c841fe85d0",
      "key": "cf7ec266-761b-470d-a14f-352db4eced55",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e95f32f3-bcb3-4bde-aa55-fb7d4725e19c",
              "mediaKey": "3c0139b8-8d43-4987-84cd-4686e1896850",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cf7ec266-761b-470d-a14f-352db4eced55",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cf7ec266-761b-470d-a14f-352db4eced55",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <lastCdnPurge>
      <Value><![CDATA[]]></Value>
    </lastCdnPurge>
    <noSlug>
      <Value><![CDATA[0]]></Value>
    </noSlug>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeyWords>
      <Value><![CDATA[]]></Value>
    </seoKeyWords>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>