<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ed115c5-0bdc-4fc0-8325-a88011774e18" Alias="Card Block - Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Card Block - Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4465054-6c72-4903-9433-65d9e3f6cb24",
      "label": "{=title}"
    }
  ],
  "validationLimit": {
    "max": 4
  }
}]]></Config>
</DataType>