<?xml version="1.0" encoding="utf-8"?>
<DataType Key="475d7db3-8fd4-41c9-b98d-a50547358bfb" Alias="default grid" Level="3">
  <Info>
    <Name>default grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>custom/blockgrid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "1495d116-fbc6-4c94-905d-65c841fe85d0",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "9ff4c671-8cde-477e-86ec-1032ed4e0bd4",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "5e0f13c0-0cdd-4f72-b19d-64b815aec0bb",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "f618abe7-aaac-4ad7-927c-4d39b15c975d",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "9ede4277-930d-4106-b18c-b3380269d981",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a34c3bf8-3b46-4f88-9bb0-09b0ed11c963",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "2fbb5f26-eb3b-443e-80ac-5699dcbab4ea",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 9
        }
      ]
    },
    {
      "contentElementTypeKey": "37af3f54-4f3f-47ea-858e-9556f6e7c9cf",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "maxPropertyWidth": "800px",
  "useLiveEditing": true
}]]></Config>
</DataType>