<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc03eda7-efee-4f7e-bea4-cf52d3da3090" Alias="Header Block - Level - Dropdown Property Editor UI" Level="3">
  <Info>
    <Name>Header Block - Level - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>custom/list</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "H1",
    "H2",
    "H3",
    "H4",
    "H5"
  ]
}]]></Config>
</DataType>