<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b39bf4e-e8d3-4cfe-9da6-7278b3f4a2ae" Alias="Image - Crop Preference - Dropdown Property Editor UI" Level="3">
  <Info>
    <Name>Image - Crop Preference - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>custom/list</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Ratio",
    "Slim",
    "Square"
  ]
}]]></Config>
</DataType>