<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="2">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
    <Folder>umbraco</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "xl",
      "alias": "xl",
      "width": 1600,
      "height": 900
    },
    {
      "label": "l",
      "alias": "l",
      "width": 1200,
      "height": 675
    },
    {
      "label": "m",
      "alias": "m",
      "width": 800,
      "height": 450
    },
    {
      "label": "s",
      "alias": "s",
      "width": 320,
      "height": 180
    },
    {
      "label": "xls",
      "alias": "xls",
      "width": 1600,
      "height": 1600
    },
    {
      "label": "ls",
      "alias": "ls",
      "width": 1200,
      "height": 1200
    },
    {
      "label": "ms",
      "alias": "ms",
      "width": 800,
      "height": 800
    },
    {
      "label": "ss",
      "alias": "ss",
      "width": 320,
      "height": 320
    },
    {
      "label": "xsl",
      "alias": "xsl",
      "width": 1600,
      "height": 400
    },
    {
      "label": "lsl",
      "alias": "lsl",
      "width": 1200,
      "height": 300
    },
    {
      "label": "msl",
      "alias": "msl",
      "width": 800,
      "height": 200
    },
    {
      "label": "ssl",
      "alias": "ssl",
      "width": 400,
      "height": 100
    }
  ]
}]]></Config>
</DataType>