<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3d00a94-0975-4949-9546-ab4195dacd2e" Alias="Zoo Homepage - Theme - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Zoo Homepage - Theme - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Summer",
    "Autumn",
    "Winter",
    "Spring"
  ]
}]]></Config>
</DataType>